:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    /* color-scheme: light dark; */
    /* color: black; */
    /* background-color: black; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {

    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    background: linear-gradient(-45deg, #e73c7e, #ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100vh;
}

#tile-container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

#tiles {
    background-color: black;
    box-shadow: 0 0 10px black;
    height: 80vh;
    width: 60vw;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    margin: 1%;
    outline: 1px solid white;
    transition: .5s;
}

.tile:hover {
    transition: .5s;
    margin: 5%;
    outline: 1px solid white;
}


.island {
    text-align: center;
    background-color: black;
    box-shadow: 0 0 10px black;
    height: 80vh;
    width: 60vw;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}